.about-us img  {
	height: auto;
}
ul.page-numbers li span {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: #7a7a7a;
    border: 1px solid #eee;
    font-weight: 500;
    transition: all 0.3s;
}
span.page-numbers.current{
	background-color: #f48840;
    border-color: #f48840;
    color: #fff;
}



span.page-numbers {

  width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: #7a7a7a;
    border: 1px solid #eee;
    font-weight: 500;
    transition: all 0.3s;
}
div.wpcf7 {
}
.wpcf7-textarea {

    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;

}
}
.wpcf7 input {

    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.wpcf7-text {
    width: 50%;
}
.wpcf7-submit {
    background-color: #f48840;
/*    color: #fff;
*/


}
.current-menu-item a {
    color: #f48840 !important;

}
.label-user {
    display: block ;
}
p.comment-form-comment {
    display: none !important;
}
p .comment-form-comment {
    display: none !important;
}

p.comment-form-cookies-consent {
    display: none !important;
}
strong {
    margin-left: 50px;
}


